<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to my trap!</h1>
    <h2>Here is a pic of a nerd!</h2>
    <img src="../static/nerd_pic.jpg" width="50%" alt="">
    <h1>And I even know his name.. {{name}}!</h1>
    <h2>I even know how to spell it.. {{letters}}!! Or should I call him {{letters[0]}}? Or maybe {{letters[2:]}}?</h2>
    <h1>I even know another nerd... HAHA! {{nerds_dictionary['nerd_name']}}..</h1>
  </body>
</html>
